/ Page Content
.container
  / Page Heading
  .row
    .col-lg-12
      %h1.page-header
        みんなのパッキングリスト
        %small 公開パッキングリスト
  /.row
  / Project One
  - @packing_lists.each do |packing_list|
    .row
      .col-md-7
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/700x300"}/
      .col-md-5
        %h3= packing_list.title
        %h4= packing_list.user.name
        %p= packing_list.comment
        = link_to packing_list, class: 'btn btn-primary' do
          View Packing
          %span.glyphicon.glyphicon-chevron-right

  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p Copyright © Yukibou 2016
