.container
  .row
    .col-lg-12
      %h1.page-header
        山のパッキングリスト
        %small みんなの気になるパッキングリスト
  /.row
  / Project One
  .row
    - @packing_lists.each do |packing_list|
      .col-md-4.portfolio-item
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/700x400"}/
        %h3= packing_list.title
        %h4= packing_list.user.name
        %p= packing_list.comment
        = link_to packing_list, class: 'btn btn-primary' do
          View Packing
          %span.glyphicon.glyphicon-chevron-right
  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p Copyright © Yukibou 2016
